* {
    font-family: sans-serif;
  }

  :root{
    --clr-primary: #1e1e1e;
    --clr-tblrw: rgba(56, 56, 56, 0);
    --clr-tblrwzw: rgba(56, 56, 56, 1);
  }
  
  .hell{
    --clr-primary: #ffffff;
    
    --clr-tblrw: rgba(218, 218, 218, 0);
    --clr-tblrwzw: rgba(218, 218, 218, 1);
  }

  .content-table {
    border-collapse: collapse;
    
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    width:100%;
    height: 100px;
  }
  
  .content-table thead tr {
    background-color: none;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    top: 0;
  }
  
  .content-table th,
  .content-table td {
    padding: 8px 5px;
    position:sticky;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #2e2e2e;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #00B2EE;
  }

  .trsh{
    background-color: rgba(56, 56, 56, 0);
    transition: all 0.3s ease;
    position: relative;
  }

  .trsh:hover{
    background-color: rgba(56, 56, 56, 1);
  }

@keyframes ohman{
  0%{
    background-color: rgba(56, 56, 56, 0);
  }
  100%{
    background-color: rgba(56, 56, 56, 1);
  }
}

  .labeltable{
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: bold 15px/normal "Arial", "Helvetica", sans-serif;
    color: #09f;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0px 5px rgb(1, 138, 230);
  }